@charset "UTF-8";
/* KIRSAO */
/* COLOR */
/* FONT-SIZE */
/* PADDING/MARGIN */
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #092635;
  font-family: Arial, Courier, monospace;
  color: #c0c0c0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
body .contenu {
  flex: 1 0 auto;
}

::selection {
  color: #FFFFF0;
  background: #1b4243;
}

::-moz-selection {
  color: #FFFFF0;
  background: #1b4243;
}

.section {
  width: 100%;
}
.section .section-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  text-align: center;
  perspective: 2500px;
}
.section .section-container .titre-page {
  padding: 150px 0 0 0;
}
.section .section-container .h1 {
  position: absolute;
  text-align: center;
  width: 100%;
  height: auto;
  transform: translateY(-50px);
}
.section .section-container .h1 h1 {
  font-size: 20vw;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(161deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.001) 100%);
  color: transparent;
  letter-spacing: 10px;
  user-select: none; /* Propriété standard */
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
  -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
}
@media (min-width: 800px) {
  .section .section-container .h1 h1 {
    font-size: 150px;
    transform: translateY(-20px);
  }
}
.section .section-container p {
  padding: 30px 10%;
  text-align: justify;
}
@media screen and (max-width: 800px) {
  .section .section-container p {
    font-size: 12px;
    padding: 20px 10%;
  }
}
.section .section-container p a {
  text-decoration: underline;
  color: #c0c0c0;
}
.section .section-container p a:hover {
  color: #9fc8b9;
}
.section .section-container h2 {
  position: relative;
  z-index: 1;
  letter-spacing: 3px;
  font-size: 35px;
}
.section .section-container h3,
.section .section-container h4 {
  text-align: left;
  padding: 0 0 0 15px;
  font-weight: bold;
}
.section .section-container h4 {
  padding: 0 0 0 30px;
}
.section .section-container img {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.to-top-btn {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1647058824);
  box-shadow: 0 2px 8px rgba(1, 18, 35, 0.5019607843);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  opacity: 0;
  transition: all 0.6s;
}
.to-top-btn img {
  transform: rotate(180deg);
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  width: 50px;
  height: 50px;
}
.to-top-btn.active {
  opacity: 1;
  cursor: pointer;
}

.footer-index {
  flex-shrink: 0;
  border-top: 1px dashed #011223;
  width: 100%;
  background: #5c8374;
  color: #092635;
}
.footer-index .contenu-footer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 19px;
  padding: 50px 0 10px;
}
@media screen and (max-width: 800px) {
  .footer-index .contenu-footer {
    flex-wrap: wrap;
    padding: 15px 0 5px;
  }
}
.footer-index .contenu-footer .bloc {
  width: 25%;
  margin: 0 30px;
}
@media screen and (max-width: 800px) {
  .footer-index .contenu-footer .bloc {
    width: 80%;
    margin: 30px 30px;
  }
}
.footer-index .contenu-footer .bloc:nth-child(1), .footer-index .contenu-footer .bloc:nth-child(2) {
  margin-bottom: 50px;
}
@media screen and (max-width: 800px) {
  .footer-index .contenu-footer .bloc:nth-child(1), .footer-index .contenu-footer .bloc:nth-child(2) {
    margin-bottom: 10px;
  }
}
.footer-index .contenu-footer .bloc h3 {
  font-size: 25px;
  padding-bottom: 20px;
  user-select: none; /* Propriété standard */
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
  -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
}
@media screen and (max-width: 800px) {
  .footer-index .contenu-footer .bloc h3 {
    padding-bottom: 5px;
  }
}
.footer-index .contenu-footer .bloc ul {
  list-style-type: none;
}
.footer-index .contenu-footer .bloc ul li {
  margin: 10px 0;
}
.footer-index .contenu-footer .bloc ul li span {
  font-weight: bold;
}
.footer-index .contenu-footer .bloc ul li a {
  text-decoration: underline;
  color: #092635;
}
.footer-index .contenu-footer .bloc ul li a:hover {
  color: #011223;
}

#navbar {
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 25px 35px;
  transition: 0.6s;
  top: 0;
}
#navbar.navbar-index {
  top: 35px;
}
@media screen and (max-width: 800px) {
  #navbar {
    position: fixed;
    top: 0;
    padding: 7px 15px;
  }
}
#navbar.sticky {
  padding: 15px 35px;
  background: rgba(1, 18, 35, 0.568627451);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 2px 8px rgba(1, 18, 35, 0.5019607843);
}
#navbar .first-container {
  margin: auto;
  max-width: 1200px;
  display: flex;
  align-items: center;
}
#navbar .first-container .nav-icon {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 20px;
}
@media screen and (max-width: 800px) {
  #navbar .first-container .nav-icon {
    order: 2;
    margin: auto;
  }
}
#navbar .first-container .nav-icon img {
  width: 40px;
}
#navbar .first-container .nav-icon span {
  font-family: sans-serif;
  font-size: 32px;
  margin-left: 10px;
  font-weight: bold;
  color: #c0c0c0;
}
@media screen and (max-width: 800px) {
  #navbar .first-container .nav-icon span {
    font-size: 24px;
  }
}
@media screen and (max-width: 800px) {
  #navbar .first-container .main-navlinks {
    order: 1;
  }
}
#navbar .first-container .main-navlinks .hamburger {
  display: none;
}
@media screen and (max-width: 800px) {
  #navbar .first-container .main-navlinks .hamburger {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    display: flex;
    background: transparent;
    align-items: center;
    position: relative;
  }
}
@media screen and (max-width: 800px) {
  #navbar .first-container .main-navlinks .hamburger.open span:nth-child(1) {
    transform: translate(0) rotate(135deg);
  }
}
@media screen and (max-width: 800px) {
  #navbar .first-container .main-navlinks .hamburger.open span:nth-child(2) {
    opacity: 0;
    transition: opacity 0s ease-out;
  }
}
@media screen and (max-width: 800px) {
  #navbar .first-container .main-navlinks .hamburger.open span:nth-child(3) {
    transform: translate(0) rotate(-135deg);
  }
}
@media screen and (max-width: 800px) {
  #navbar .first-container .main-navlinks .hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s 0.15s;
    background-color: #5c8374;
  }
  #navbar .first-container .main-navlinks .hamburger span:nth-child(1) {
    transform: translateY(7px);
  }
  #navbar .first-container .main-navlinks .hamburger span:nth-child(3) {
    transform: translateY(-7px);
  }
  #navbar .first-container .main-navlinks .hamburger span:nth-child(1), #navbar .first-container .main-navlinks .hamburger span:nth-child(3) {
    transition: transform 0.3s ease-out;
  }
}
#navbar .first-container .navlinks-container {
  margin-left: auto;
}
@media screen and (max-width: 800px) {
  #navbar .first-container .navlinks-container.open {
    transform: translate(0%);
  }
}
@media screen and (max-width: 800px) {
  #navbar .first-container .navlinks-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background: rgba(27, 66, 67, 0.9294117647);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    top: 100%;
    left: 0;
    height: 100vh;
    padding: 50px;
    box-shadow: 0 2px 8px rgba(1, 18, 35, 0.5019607843);
    transform: translate(-100%);
    max-width: 70%;
  }
}
#navbar .first-container .navlinks-container a {
  margin: 0 10px;
  font-size: 25px;
  font-weight: 500;
  transform: translateY(4px);
  text-decoration: none;
  color: #5c8374;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  #navbar .first-container .navlinks-container a {
    font-size: 25px;
    color: #9fc8b9;
    margin: 20px 0;
  }
}
#navbar .first-container .navlinks-container a:nth-child(1) {
  color: #c0c0c0;
  font-weight: 600;
}
#navbar .first-container .navlinks-container a:nth-child(1)::after {
  background: #c0c0c0;
}
#navbar .first-container .navlinks-container a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  width: 100%;
  height: 2px;
  transform: scale(0);
  transform-origin: left;
  background: #5c8374;
  transition: transform 0.3s ease-out;
}
@media screen and (max-width: 800px) {
  #navbar .first-container .navlinks-container a::after {
    background: #5c8374;
  }
}
#navbar .first-container .navlinks-container a:hover::after {
  transform: scaleX(1);
}
#navbar .first-container .navlinks-container .param {
  display: none;
}
@media screen and (max-width: 800px) {
  #navbar .first-container .navlinks-container .param {
    display: inline-block;
  }
}
#navbar .first-container .navlinks-container .picture {
  transform: translateY(0px);
  margin-left: 20px;
}
@media screen and (max-width: 800px) {
  #navbar .first-container .navlinks-container .picture {
    display: none;
  }
}
#navbar .first-container .navlinks-container .picture img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
#navbar .first-container .navlinks-container .picture:hover::after {
  transform: scaleX(0);
}
@media screen and (max-width: 800px) {
  #navbar .first-container .navlinks-container .param-unpicture {
    display: none;
  }
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-height: 100vh;
  min-width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
}
.login-container img {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  filter: brightness(70%);
}
.login-container .user-picture {
  position: relative;
  right: 0;
  height: 50px;
  width: 50px;
}
.login-container .user-picture img {
  filter: brightness(100%);
  border-radius: 10px;
}
.login-container .wrapper {
  width: 50%;
  display: block;
  background: transparent;
  border: 2px solid #9fc8b9;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 2px 8px rgba(1, 18, 35, 0.5019607843);
  border-radius: 10px;
  padding: 15px 30px;
}
@media screen and (max-width: 800px) {
  .login-container .wrapper {
    width: 100vw;
    height: 100vh;
    border: none;
  }
}
@media screen and (max-height: 700px) {
  .login-container .wrapper {
    width: 100vw;
    height: 100vh;
    border: none;
  }
}
@media screen and (max-width: 800px) {
  .login-container .wrapper .wrapper-contain {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (max-height: 700px) {
  .login-container .wrapper .wrapper-contain {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.login-container .wrapper .wrapper-contain .login-title {
  font-size: 36px;
  text-align: center;
  color: #9fc8b9;
}
@media screen and (max-width: 800px) {
  .login-container .wrapper .wrapper-contain .login-title {
    font-size: 19px;
  }
}
@media screen and (max-height: 700px) {
  .login-container .wrapper .wrapper-contain .login-title {
    font-size: 19px;
  }
}
.login-container .wrapper .wrapper-contain .form {
  padding-top: 20px;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .login-container .wrapper .wrapper-contain .form {
    padding-top: 15px;
  }
}
@media screen and (max-height: 700px) {
  .login-container .wrapper .wrapper-contain .form {
    padding-top: 15px;
  }
}
.login-container .wrapper .wrapper-contain .form .btn-login {
  display: inline-block;
  margin: 20px 0 0 0;
}
.login-container .wrapper-setting {
  width: 90%;
  max-width: 1200px;
  border: none;
  box-shadow: none;
  border-radius: 0;
  margin: 30px;
}

.form-group {
  position: relative;
  z-index: 0;
  padding-top: 20px;
  font-family: "Source Code Pro";
  font-size: 22px;
  width: 350px;
  text-align: center;
  left: 50%;
  transform: translateX(-53%);
}
@media screen and (max-width: 800px) {
  .form-group {
    padding-top: 5px;
    font-size: 15px;
    width: 250px;
  }
}
@media screen and (max-height: 700px) {
  .form-group {
    padding-top: 5px;
    font-size: 15px;
    width: 250px;
  }
}
.form-group input {
  width: 100%;
  padding: 7px;
  border: 1px solid #9fc8b9;
  background: transparent;
  border-radius: 5px;
  outline: none;
  font-size: 1em;
  color: #9fc8b9;
}
.form-group input:valid ~ span, .form-group input:focus ~ span {
  transform: translateX(15px) translateY(-10px);
  font-size: 0.65em;
  padding: 0 10px;
  background: #9fc8b9;
  color: #1b4243;
  border-radius: 4px;
  letter-spacing: 1px;
}
@media screen and (max-width: 800px) {
  .form-group input:valid ~ span, .form-group input:focus ~ span {
    transform: translateX(15px) translateY(-7px);
  }
}
@media screen and (max-height: 700px) {
  .form-group input:valid ~ span, .form-group input:focus ~ span {
    transform: translateX(15px) translateY(-7px);
  }
}
.form-group i {
  position: absolute;
  right: -30px;
  transform: translateY(35%);
  font-size: 25px;
  color: #9fc8b9;
}
@media screen and (max-width: 800px) {
  .form-group i {
    transform: translateY(20%);
  }
}
@media screen and (max-height: 700px) {
  .form-group i {
    transform: translateY(20%);
  }
}
.form-group span {
  position: absolute;
  left: 0;
  padding: 8px;
  pointer-events: none;
  font-size: 1em;
  color: #9fc8b9;
  transition: 0.5s;
}
@media screen and (max-width: 800px) {
  .form-group span {
    padding: 7px;
  }
}
@media screen and (max-height: 700px) {
  .form-group span {
    padding: 7px;
  }
}
.form-group .color {
  cursor: pointer;
}

.setting {
  margin-top: 200px;
}
@media screen and (max-width: 800px) {
  .setting {
    margin-top: 20%;
    margin-bottom: 10%;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9fc8b9;
  border: 2px solid #9fc8b9;
  outline: none;
  text-decoration: none;
  color: #092635;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 0 2px 8px rgba(1, 18, 35, 0.5019607843);
  cursor: pointer;
  font-size: 15px;
  padding: 10px 15px;
  min-width: 50px;
  min-height: 40px;
  max-width: 220px;
  height: 40px;
  padding: 0 20px;
  transition: 0.3s;
}
.btn:hover {
  color: #9fc8b9;
  background: #092635;
}

.btn-danger {
  background: #a03e3e;
  border: 2px solid #a03e3e;
}
.btn-danger:hover {
  color: #a03e3e;
  background: #092635;
}

.btn-succes {
  background: #9fc8b9;
  border: 2px solid #9fc8b9;
}
.btn-succes:hover {
  color: #9fc8b9;
  background: #092635;
}

.card a {
  width: 50px;
  height: 150px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 36px;
  margin: 0 50px;
  perspective: 1500px;
}
.card a img {
  box-shadow: 0 2px 8px rgba(1, 18, 35, 0.5019607843);
  border-radius: 0.25em;
  transition: 0.3s;
}
.card a img:hover {
  transform: rotateX(10deg) rotateY(-18deg) rotateZ(4deg);
}

.alert {
  text-align: justify;
  font-size: 15px;
}

.alert-danger {
  color: #a03e3e;
}

.alert-succes {
  color: #5c8374;
}

.accordion {
  margin: 60px auto;
  padding: 30px 10%;
  text-align: justify;
  transform: translateX(-20px);
}
@media screen and (max-width: 800px) {
  .accordion {
    font-size: 15px;
    padding: 20px 5%;
  }
}
.accordion li {
  list-style: none;
  width: 100%;
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
  color: #011223;
  background: #5c8374;
  box-shadow: 6px 6px 10px -1px rgba(255, 255, 255, 0.2), -6px -6px 10px -1px rgba(0, 0, 0, 0.15);
}
.accordion li label {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .accordion li label {
    font-size: 22px;
  }
}
.accordion li label::before {
  content: "+";
  margin-right: 10px;
  font-size: 25px;
  font-weight: bold;
}
@media screen and (max-width: 800px) {
  .accordion li label::before {
    font-size: 22px;
  }
}
@media screen and (max-width: 800px) {
  .accordion li label {
    font-size: 19px;
  }
}
.accordion li input[type=radio] {
  display: none;
}
.accordion li input[type=radio]:checked + label + .content-accordion {
  max-height: 400px;
  padding: 10px 10px 20px;
}
.accordion li input[type=radio]:checked + label::before {
  content: "−";
}
.accordion li .content-accordion {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s, padding 0.4s;
}
.accordion li .content-accordion p {
  padding: 0 20px;
  color: #092635;
}
@media screen and (max-width: 800px) {
  .accordion li .content-accordion p {
    padding: 0 7px;
  }
}

.redirect-lien {
  margin: 10px 0 -15px 0;
  padding: 10px 10px;
  text-align: justify;
  font-size: 15px;
}
@media screen and (max-width: 800px) {
  .redirect-lien {
    font-size: 12px;
  }
}
.redirect-lien a {
  text-decoration: underline;
  color: #c0c0c0;
}
.redirect-lien a:hover {
  color: #9fc8b9;
}

.dashboard-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  height: auto;
  min-height: 100vh;
  padding: 0 5%;
  padding-top: 150px;
}
@media screen and (max-width: 800px) {
  .dashboard-container {
    padding-top: 100px;
  }
}
.dashboard-container h4 {
  padding-left: 5%;
}

.textaera-container {
  display: flex;
  justify-content: center;
}
.textaera-container .textarea {
  resize: none;
  border: 2px solid #FFFFF0;
  width: 90%;
  height: 300px;
  border-radius: 15px;
  padding: 10px;
}
.textaera-container .textarea textarea:invalid {
  border: 2px dashed red;
}
.textaera-container .textarea textarea:valid {
  border: 2px solid lime;
}

.note-of-the-day .form {
  text-align: center;
}
.note-of-the-day .form input {
  display: inline-block;
}
.note-of-the-day .form .ratings {
  text-align: center;
  transform: rotateY(180deg);
}
.note-of-the-day .form .ratings input {
  display: none;
}
.note-of-the-day .form .ratings input:checked ~ label:after {
  opacity: 1;
}
.note-of-the-day .form .ratings label {
  cursor: pointer;
  width: 50px;
  position: relative;
}
.note-of-the-day .form .ratings label::before {
  content: "☆";
  position: absolute;
  font-size: 50px;
  color: aliceblue;
}
.note-of-the-day .form .ratings label::after {
  content: "★";
  font-size: 50px;
  color: aquamarine;
  top: 0;
  opacity: 0;
  transition: 0.5s;
  text-shadow: 0 2px 5px rgba(255, 255, 255, 0.5);
}
.note-of-the-day .form .ratings label:hover ~ label:after {
  opacity: 1;
}
.note-of-the-day .form .ratings label:hover::after {
  opacity: 1;
}

.infinit-part {
  width: 100%;
  padding: 8px 0px;
  position: fixed;
  z-index: 1;
  background: #FFFFF0;
}
.infinit-part .container {
  margin: auto;
  max-width: 1200px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.infinit-part .container .txt {
  white-space: nowrap;
  animation: scroll 15s linear infinite;
  transform: translateX(100%); /* Initial position hors de l'écran */
  color: #1b4243;
  user-select: none; /* Propriété standard */
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
  -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
}
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.infinit-part .container .txt .it {
  font-style: italic;
  font-weight: bold;
}

.table table {
  border-collapse: collapse;
  width: auto;
  box-shadow: 0 2px 8px rgba(1, 18, 35, 0.5019607843);
  margin: 50px auto;
  border: 2px solid #333;
  padding: 10px 20px;
}
.table table thead tr {
  background-color: #011223;
  color: #c0c0c0;
  text-align: center;
  border: 1px solid #333;
}
.table table thead tr th {
  color: antiquewhite;
  padding: 10px 20px;
  border: 1px solid #333;
  text-transform: uppercase;
}
.table table tbody tr {
  background-color: #FFFFF0;
  border: 1px solid #333;
  text-align: center;
}
.table table tbody tr:nth-child(even) {
  background-color: #c0c0c0;
}
.table table tbody tr td {
  color: #011223;
  padding: 10px 20px;
  border: 1px solid #333;
}

.input-number {
  margin: 10px auto;
  color: #9fc8b9;
  display: flex;
  justify-content: center;
  width: 150px;
  height: 30px;
  border: 1px solid #9fc8b9;
  border-radius: 7px;
  align-items: center;
  transition: 0.3s ease-out;
  flex-direction: row;
}
.input-number label {
  white-space: nowrap;
}
.input-number i {
  font-size: 15px;
  color: #9fc8b9;
  font-weight: bold;
  cursor: pointer;
}
.input-number .bx-minus {
  transform: translateX(15px);
}
.input-number .bx-tachometer {
  transform: translateX(25px);
  font-size: 20px;
}
.input-number .num-input {
  transform: translateX(7px);
  font-size: 15px;
  text-align: center;
  background: none;
  border: none;
  color: #9fc8b9;
  font-weight: bold;
  width: 100%;
}
.input-number .num-input:focus {
  outline: none;
}
.input-number .num-input::-webkit-outer-spin-button, .input-number .num-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.todolist {
  width: 380px;
  padding: 20px 30px 20px 20px;
  border: 1px solid #9fc8b9;
  border-radius: 15px;
}
.todolist .row-todolist {
  display: flex;
  align-items: center;
  justify-content: left;
  border-bottom: 1px dashed #c0c0c0;
  padding: 20px 0;
  font-size: 20px;
}
.todolist .row-todolist:last-child {
  border-bottom: none;
  padding: 20px 0 0 0;
}
.todolist .row-todolist .affichage-color {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 10px;
}
.todolist .row-todolist label {
  position: relative;
  width: 25px;
  height: 25px;
}
.todolist .row-todolist label input {
  width: 100%;
  height: 100%;
  margin-left: 20px;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}
.todolist .row-todolist label span {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  border: 2px solid #c0c0c0;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 150px;
  background: transparent;
}
.todolist .row-todolist label span::after {
  content: "";
  position: absolute;
  left: 10px;
  bottom: 5px;
  width: 0px;
  height: 0px;
  border: solid #9fc8b9;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: 0.5s ease-out;
}
.todolist .row-todolist label input:checked ~ span::after {
  width: 15px;
  height: 25px;
  opacity: 1;
}
.todolist .routine-todolist {
  border-bottom: none;
  justify-content: space-between;
}
.todolist .routine-todolist label input {
  transform: translateX(-12px);
}
.todolist .routine-todolist label span {
  transform: translateY(2px);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-button {
  margin: 0;
  text-align: justify;
  font-size: 30px;
}
@media screen and (max-width: 800px) {
  .add-button {
    font-size: 20px;
  }
}
.add-button a {
  text-decoration: underline;
  color: #c0c0c0;
  transition: 0.3s ease-out;
  cursor: pointer;
}
.add-button a:hover {
  color: #9fc8b9;
}

.sup-button {
  margin: 0 0 0 auto;
  font-size: 30px;
  transform: translateY(3px);
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .sup-button {
    font-size: 20px;
  }
}
.sup-button a {
  text-decoration: underline;
  color: #c0c0c0;
  transition: 0.3s ease-out;
}
.sup-button a:hover {
  color: #a03e3e;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out; /* Utilisez la propriété de transition pour définir la durée, le timing et le type d'animation */
}

/*# sourceMappingURL=style.css.map */
