.section {
    width: 100%;

    .section-container {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        text-align: center;
        perspective: 2500px;

        .titre-page {
            padding: 150px 0 0 0;
        }

        .h1 {
            position: absolute;
            text-align: center;
            width: 100%;
            height: auto;
            transform: translateY(-50px);

            h1 {
                font-size: 20vw;
                text-transform: uppercase;
                font-family:Arial, Helvetica, sans-serif;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-image: linear-gradient(161deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.001) 100%);
                color: transparent;
                letter-spacing: 10px;

                //empêche la séléction du text
                user-select: none; /* Propriété standard */
                -moz-user-select: none; /* Firefox */
                -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
                -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */

                @media (min-width: $mq) {
                      font-size: 150px;
                      transform: translateY(-20px);
                  }
            }
        }
        

        p {
            padding: 30px 10%;
            text-align: justify;

            @media screen and (max-width: $mq) {
                font-size: $KS-font-tiny;
                padding: 20px 10%;
            }

            a {
                text-decoration : underline;
                color: $KS-color-font-dark;

                &:hover {
                    color: $KS-color-tertiary;
                }
            }
        }

        h2 {
            position: relative;
            z-index: 1;
            letter-spacing: 3px;
            font-size: $KS-font-huge;
        }

        h3,
        h4 {
            text-align: left;
            padding: 0 0 0 15px;
            font-weight: bold;
        }
        h4 {
            padding: 0 0 0 30px;
        }


        img {
            //empêcher séléction d'une image
            user-select: none;
            -webkit-user-drag: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
        }
    }
}
