.textaera-container {
    display: flex;
    justify-content: center;

    .textarea {
        resize: none;
        outline: none;
        overflow-x: hidden;
        overflow-y: hidden;
        background-color: $KS-color-font-light;
        color: $KS-color-font-dark;
        font-family: Arial, Courier, monospace;
        //border: 2px solid $KS-color-white;
        width: 90%;
        height: auto;
        border-radius: 15px;
        padding: 10px;

        &:invalid {
            border: 2px dashed $KS-color-danger;
        }
        
        &:valid {
            border: 2px solid $KS-color-tertiary;
        }
    }
}