/* KIRSAO */

/* COLOR */
// $KS-color-darkblue: #092635;
// $KS-color-darkgreen: #1b4243;
// $KS-color-lightgreen: #5c8374;
// $KS-color-lightblue: #9fc8b9;
$KS-color-black: #000;
$KS-color-white: #fff;
$KS-color-bg: #092635;
$KS-color-primary: #1b4243;
$KS-color-secondary: #5c8374;
$KS-color-tertiary: #9fc8b9;
$KS-color-hamburger: #1b4243ed;
$KS-color-font-light: #333;
$KS-color-font-dark: #c0c0c0;

/* FONT-SIZE */
$KS-font-huge: 35px;
$KS-font-large: 25px;
$KS-font-normal: 19px;
$KS-font-small: 15px;
$KS-font-tiny: 12px;
$KS-font-logo: 32px; 
$KS-font-logo-media: 24px; 
$KS-line-height: 1.6;

/* PADDING/MARGIN */
$KS-padding-y: 20px;
$KS-padding-x: 25px;
$KS-margin-y: 25px;
$KS-margin-x: 25px;


$taille: 15px;
$box-shadaw: 0 2px 6px rgba(0, 0, 0, 0.32);
//media query (max-width)
$max-width: 1200px;
$mq: 800px;
//transorm (rotated)
$rotated: 135deg;
//tailles images
$img-logo: 40px;
//Graphik, sans-serif
