/* KIRSAO */

/* COLOR */
// $KS-color-darkblue: #092635;
// $KS-color-darkgreen: #1b4243;
// $KS-color-lightgreen: #5c8374;
// $KS-color-lightblue: #9fc8b9;
$KS-color-black: #011223;
$KS-color-white: #FFFFF0;
$KS-color-bg: #092635;
$KS-color-primary: #1b4243;
$KS-color-secondary: #5c8374;
$KS-color-tertiary: #9fc8b9;
$KS-color-hamburger: #1b4243ed;
$KS-color-font-light: #333;
$KS-color-font-dark: #c0c0c0;
$KS-color-danger: #a03e3e;
$KS-color-succes: #5c8374;

/* FONT-SIZE */
$KS-font-huge: 35px;
$KS-font-large: 25px;
$KS-font-mi-large: 22px;
$KS-font-normal: 19px;
$KS-font-small: 15px;
$KS-font-tiny: 12px;
$KS-font-logo: 32px; 
$KS-font-logo-media: 24px; 
$KS-line-height: 1.6;

/* PADDING/MARGIN */
$KS-padding-y: 10px;
$KS-padding-x: 15px;
$KS-margin-y: 25px;
$KS-margin-x: 25px;


$taille: 15px;
$box-shadaw: 0 2px 8px #01122380;
$box-shadow2: 3px 3px 10px -1px rgba(255, 255, 255, 0.2),
            -3px -3px 10px -1px rgba(0, 0, 0, 0.15);
$drop-shadow: drop-shadow(2px 2px 10px rgba(255, 255, 255, 0.292));
//media query (max-width)
$max-width: 1200px;
$mh: 700px;
$mq: 800px;
//transorm (rotated)
$rotated: 135deg;
//tailles images
$img-logo: 40px;
//Graphik, sans-serif
