%policeSpan {  // déclaration extension avec %
    p{
       span {
           color: $couleur;
           &:hover {
               font-size: $taille+3;
               text-decoration: underline;
           }
       }
   }
}